.embedgpt-item {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important
}

.embedgpt-item .w-full {
  width: 100%;
}

.embedgpt-item .break-words {
  word-break: break-word;
}

.embedgpt-item .bg-black {
  background-color: #000;
}

.embedgpt-item .mb-4 {
  margin-bottom: 1rem;
}

.embedgpt-item .flex {
  display: flex;
}

.embedgpt-item .items-center {
  align-items: center;
}

.embedgpt-item .relative {
  position: relative;
}


.embedgpt-item .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.embedgpt-item .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.embedgpt-item .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.embedgpt-item .font-sans {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-serif	font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
font-mono	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.embedgpt-item .ml-auto {
  margin-left: auto;
}

.embedgpt-item .markdown {
  font-size: 16px !important;
}

.embedgpt-item .markdown pre > div > div:nth-of-type(1) {
  background-color: #343541;
}

.embedgpt-item .gap-2 {
  gap: 0.5rem
}

.embedgpt-item .h-4 {
  height: 1rem;
}

.embedgpt-item .w-4 {
  width: 1rem;
}

.embedgpt-item table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 0px;
  text-align: center;
  border-color: #d9d9e3;
}

.embedgpt-item th {
  background-color: rgba(236,236,241,.2);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-width: 1px;
  padding: 0.25rem 0.75rem;
  color: #fff !important;
}

.embedgpt-item th:first-child {
  border-top-left-radius: 0.375rem;
}

.embedgpt-item th:last-child {
  border-right-width: 1px;
  border-top-right-radius: 0.375rem;
}

.embedgpt-item td {
  border-bottom-width: 1px;
  border-left-width: 1px;
  padding: 0.25rem 0.75rem;
  color: #d1d5db !important;
}

/* highlight.js */

.embedgpt-item .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.75rem;
  border-radius: 0.25rem;

  color: #cdd9e5;
  background: #000;
}

.embedgpt-item .hljs-punctuation {
  color: #768390;
}

.embedgpt-item .hljs-meta {
  color: #6cb6ff;
}

.embedgpt-item .hljs-class {
  color: #8ddb8c;
}

.embedgpt-item .hljs-builtin-name,
.embedgpt-item .hljs-meta-keyword,
.embedgpt-item .hljs-template-tag {
  color: #2e95d3;
}

.embedgpt-item .hljs-undefined {
  color: #96d0ff;
}

.embedgpt-item .hljs-section {
  color: #6cb6ff;
  font-weight: bold;
}

.embedgpt-item .hljs-quote,
.embedgpt-item .hljs-selector-tag {
  color: #8ddb8c;
}

.embedgpt-item .hljs-emphasis {
  color: #f69d50;
  font-style: italic;
}

.embedgpt-item .hljs-strong {
  color: #f69d50;
  font-weight: bold;
}

.embedgpt-item .hljs-deletion {
  color: #ff938a;
  background-color: #78191b;
}

.embedgpt-item .hljs-addition {
  background-color: #113417;
}

.embedgpt-item .hljs-link {
  font-style: underline;
}

.embedgpt-item .hljs-doctag,
.embedgpt-item .hljs-formula,
.embedgpt-item .hljs-keyword,
.embedgpt-item .hljs-literal {
  color: #2e95d3;
}

.embedgpt-item .hljs-bullet,
.embedgpt-item .hljs-link,
.embedgpt-item .hljs-selector-id,
.embedgpt-item .hljs-symbol,
.embedgpt-item .hljs-title {
  color: #f22c3d;
}

.embedgpt-item .hljs-addition,
.embedgpt-item .hljs-attribute,
.embedgpt-item .hljs-meta-string,
.embedgpt-item .hljs-regexp,
.embedgpt-item .hljs-string {
  color: #00a67d;
}

.embedgpt-item .hljs-attr,
.embedgpt-item .hljs-number,
.embedgpt-item .hljs-selector-attr,
.embedgpt-item .hljs-selector-class,
.embedgpt-item .hljs-selector-pseudo,
.embedgpt-item .hljs-template-variable,
.embedgpt-item .hljs-type,
.embedgpt-item .hljs-variable {
  color: #df3079;
}

.embedgpt-item .hljs-comment {
  color: hsla(0, 0%, 100%, 0.5);
}

.embedgpt-item .hljs-built_in,
.embedgpt-item .hljs-class .hljs-title {
  color: #e9950c;
}

/* prose */

.embedgpt-item .prose {
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}

.embedgpt-item .prose-invert {
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-lead: var(--tw-prose-invert-lead);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-pre-code: var(--tw-prose-invert-pre-code);
  --tw-prose-pre-bg: var(--tw-prose-invert-pre-bg);
  --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
}

.embedgpt-item .prose pre {
  
}

.embedgpt-item .prose p > code {
  font-weight: 600;
  font-size: 0.875em;
  background-color: transparent;
  color: #fff;
  border: none;
  margin: 0;
  padding: 0;
}

.embedgpt-item .prose p > code::before, 
.embedgpt-item .prose p > code::after {
  content: '`';
}

.embedgpt-item .prose p {
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.embedgpt-item .prose p:first-child {
  margin-top: 0 !important;
}

.embedgpt-item .prose p:last-child {
  margin-bottom: 0 !important;
}

.embedgpt-item .prose ul, .embedgpt-item .prose ol {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-left: 1.625em;
}

.embedgpt-item .prose ul {
  list-style-type: disc;
}

.embedgpt-item .prose ol {
  list-style-type: decimal;
}

.embedgpt-item .prose :where(ul > li, ol > li) {
  padding-left: 0.375em !important;
}

.embedgpt-item .prose li {
  margin: 0.5em 0 !important;
}

.embedgpt-item .prose ol > li::marker {
  color: #94a3b8;
  font-weight: 400;
}

.embedgpt-item .prose ul > li::marker {
  content: "•";
  font-size: .875rem;
  line-height: 1.25rem;
  margin-left: -1rem;
  position: absolute;
}

.embedgpt-item .prose thead {
  border-bottom-color: #4b5563;
  border-bottom-width: 1px;
}

.embedgpt-item .prose tbody {
  border-bottom-color: #374151;
  border-bottom-width: 1px;
}