@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-neutral-900 text-neutral-50;
  }
}

.share-container {
  @apply flex gap-3;
}

.share-container button {
  @apply flex h-12 w-12 items-center justify-center rounded-full;
}

.share-container button svg {
  @apply h-8 w-8;
}

.share-floating {
  @apply flex flex-col gap-3 rounded-full border border-neutral-800/50 bg-secondary p-2;
}

.share-floating li button {
  @apply rounded-full border border-neutral-800/50 bg-primary p-2 hover:border-neutral-600;
}

.share-floating li button svg {
  @apply h-6 w-6;
}

.markdown pre,
.markdown code {
  @apply p-0;
}

.markdown code {
  @apply !mb-0 text-white;
}

.markdown pre > div {
  @apply !mb-0;
}

.markdown pre > div > div:nth-of-type(1) {
  @apply bg-primary;
}

.markdown th {
  @apply border-y border-l bg-[rgba(236,236,241,.2)] px-3 py-1 first:rounded-tl-md last:rounded-tr-md last:border-r;
}

.markdown td {
  @apply border-l border-b py-1 px-3 last:border-r;
}

.markdown tbody tr:last-child td {
  @apply first:rounded-bl-md last:rounded-br-md;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.75rem;
  border-radius: 0.25rem;

  color: #cdd9e5;
  background: #000;
}

.hljs-punctuation {
  color: #768390;
}

.hljs-meta {
  color: #6cb6ff;
}

.hljs-class {
  color: #8ddb8c;
}

.hljs-builtin-name,
.hljs-meta-keyword,
.hljs-template-tag {
  color: #2e95d3;
}

.hljs-undefined {
  color: #96d0ff;
}

.hljs-section {
  color: #6cb6ff;
  font-weight: bold;
}

.hljs-quote,
.hljs-selector-tag {
  color: #8ddb8c;
}

.hljs-emphasis {
  color: #f69d50;
  font-style: italic;
}

.hljs-strong {
  color: #f69d50;
  font-weight: bold;
}

.hljs-deletion {
  color: #ff938a;
  background-color: #78191b;
}

.hljs-addition {
  background-color: #113417;
}

.hljs-link {
  font-style: underline;
}

/*  */

.hljs-doctag,
.hljs-formula,
.hljs-keyword,
.hljs-literal {
  color: #2e95d3;
}

.hljs-bullet,
.hljs-link,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #f22c3d;
}

.hljs-addition,
.hljs-attribute,
.hljs-meta-string,
.hljs-regexp,
.hljs-string {
  color: #00a67d;
}

.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type,
.hljs-variable {
  color: #df3079;
}

.hljs-comment {
  color: hsla(0, 0%, 100%, 0.5);
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e9950c;
}

.steps {
  margin-left: 1rem;
  padding-left: 1.5rem;
  counter-reset: step;
  border-left: 1px solid;
  border-color: #2e2e2e;
  margin-bottom: 3rem;
}
.steps h3 {
  counter-increment: step;
  color: #f1f5f9;
  letter-spacing: -0.015em;
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2rem;
}
.steps h3:before {
  content: counter(step);
  display: inline-block;
  position: absolute;
  margin-top: 3px;
  margin-left: -41px;
  width: 33px;
  height: 33px;
  text-align: center;
  text-indent: -1px;
  color: #999;
  border-radius: 100%;
  border: 4px solid #171717;
  background: #2e2e2e;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.steps div {
  margin-top: 1.5rem;
}
